{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="question">Question</label>
        {{input value=question id="question"}}
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        {{input value=category id="category"}}
      </div>
      <button {{action 'saveQuestion1'}}>Save Question</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}}>Questions?</button>
{{/if}}
